# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment / IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Project temp
~$*.xlsx
*.pipeproj_temp
.pytest_cache/
build/
dist/
